---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a seasoned digital marketing specialist, I possess a comprehensive skill set encompassing a wide range of online marketing strategies. My expertise lies in optimizing online visibility, driving targeted traffic, and fostering meaningful customer engagement. I specialise in Search Engine Optimization, Social media marketing, Content marketing, Google ads, e-mail marketing, Snapchat ads etc.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="L.L.B Law in view"
      subtitle="2022 to 2025 at Lagos State University, Lagos, Nigeria"
    />
    <TimeLineElement
      title="Certified Professional Digital Marketing Specialist"
      subtitle="2024 to 2024 at Honeytreat Trade Academy, Lagos, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Intern"
      subtitle="From 2024 to 2024 at TechSpark Solutions, Lagos, Nigeria"
    >
      Successfully executed an email marketing campaign. Created and designed email marketing campaigns. Segmented email lists and personalized content for targeted
      audience.

    </TimeLineElement>
    <TimeLineElement
      title="Digital Marketing Intern"
      subtitle="From 2024 to 2024 at Honeytreat Trade Academy, Lagos, Nigeria"
    >
      Set up SEO, GT4 and GTM tracking software to track google analytics on website. I researched and implemented SEO strategies to improve website rankings. I conducted keyword research and optimized website content and meta tags. I analyzed website performance using Google Analytics and other tools . Implemented link building strategies to increase website authority. Monitored and analyzed website traffic and social media engagement metrics . Created engaging content for social media, blog posts, and email newsletters
  </TimeLineElement>



          <a href= "https://skillshop.credential.net/ea4579d9-43b6-4e1d-8bfa-3873026a3dae" target=_blank"> Conversion Optimization Certification</a>
  </li>
  <li>

    
           <a href= "https://skillshop.credential.net/dd4c9f16-2670-4cac-9718-abd2e7adef6d" target=_blank"> Google Ai shopping ads Certificaion</a>
    
  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Search Engine Optimization</li>
    <li>Meta ads</li>
    <li>Google ads</li>
    <li>Google analytics</li>
    <li>Blogging</li>
    <li>Snapchat Ads</li>
    <li>Linkedln ads</li>
    <li>Twitter ads</li>
    <li> Google tag manager</li>
    <li>Google Search Console</li>
    <li>E-mail marketing</li>
    <li>Google adsense</li>
    <li>Content Marketing</li>
    <li>Google my buisness</li>
    <li>Social media management</li>
  </ul>
</BaseLayout>
