---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Abdulazeez Abdulrahman Adebayo
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://www.linkedin.com/in/abdulrahman-abdulazeez-90062b208/">Abdulazeez Abdulrahman Adebayo</a> using
    <!-- Thanks for using this template. With love from Abdulrahman :) -->
    <a href="https://www.linkedin.com/in/abdulrahman-abdulazeez-90062b208/">Digital marketing specialist ⚡️</a>
  </div>
</footer>
<style></style>
